@import "../../../variables.scss";

.radio{
  float:left;
  margin-left: -6px;
}

input{
  height:0px;
  width:0px;
}

input + i{
  border: 2px solid $gray-border-color !important;
  color: $gray-icon-radio-color;
}

input:checked + i{
  color: white;
  background-color: $selected-icon-color;
  border: 2px solid $selected-icon-color;
}