@import "../../../variables.scss";


.icon
    {
      box-sizing: border-box;
      font-family: "icons";
      font-style: normal;
      font-weight: normal;
      font-size: 23px;
      display: inline-block;
      border:3px solid $gray-border-color;
      color: $gray-icon-color;

      text-align: center;

      border-radius: 50%;
      width: 44px;
      height: 44px;

      text-align: center;
      
      background-color: white;
      box-sizing: border-box;
      overflow:hidden;
    }

    .icon-0{
      padding-top: 9px;
    }

    .icon-1{
      padding-top: 6px;
    }

    .icon-2{
      position: relative; top: 1px;
      padding-top: 9px;
    }

    .icon-3{
      position: relative; top: 2px;

      padding-top: 7px;
    }

    .icon-4{
      position: relative; top: 2px;
      padding-top: 9px;
      text-indent: -4px
    }

    .icon-5{
      position: relative; top: 2px;

      padding-top: 7px;
    }